
#cards{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
} */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    align-items: center;
    justify-items: center;
    text-align: center;
  }
section{
    margin-top: 30px;
}