
#hero {
    position: relative;
}

#hero-img {
    width: 100%;
    height: auto;
}

#rental-btn{
    padding: 8px 28px;
    border-radius: 20px;
    line-height: 50px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: .02em;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    cursor: pointer;
    background-color: #CCA43B;
    color: #242F40;
}
#rental-btn:hover, #social-media-links img:hover, .submitBtn:hover{
    box-shadow: 0 0 5px #D9C590, 0 0 25px #D9C590, 0 0 50px #D9C590, 0 0 200px #D9C590;
    background-color: #D9C590;
    color: #023047;
    transition: .5s;
    font-weight: 700;
}
#home{
    display: grid;
    margin-bottom: 80px;

}
#summary {
    text-align: justify;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
    gap: 70px;
}

#summary h4{
    text-align: center;
}

#serv-weath-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
}

#services{
    width: 80%;
    text-align: justify;
}

#services h4{
    text-align: center;
}

/*--------------------- weather -------------------------------*/
#weather-container{
    display: grid;
    justify-content: center;
    align-items: baseline;
}
#weather-container h3{
    margin-bottom: 0px;
    margin-top: 31px;

}
#current-weather{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#weather-information {
    border-color: #023047;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #CCA43B;
    text-align: center;
    max-width: 800px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
  
  
#forecast {
    display: flex;
    flex-direction: column;
}
  
.forecast-item {
    text-align: center;
}
  
.forecast-item img {
    width: 50px;
    height: 50px;
}
.hidden {
    display: none;
}

#weatherAlertContainer{
    position: relative;
    text-align: center;
    margin-top: 80px;
    padding: 20px;
    background-color: #D9C590;
    color: #2D333B;
}
#closeWeatherAlert{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 25px;
    background-color: #D9C590;
    border: none;
    cursor: pointer;
}
/*-------- Social Media Links----------*/
#social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#social-media p{
    padding-bottom: 50px;
}
.social-media-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    justify-content: center;
    text-align: center;
}
.sm-logo{
    width: 20%;
}
/* Rental*/
/*----------- TABLE --------------*/
:root {
    --back: #D9C590;
    --back2: #D3B566;
    --forelight: #2D333B;
    --border: hsla(0, 0%, 20%, 0.8);
    --borderlight: hsla(0, 0%, 33%, 0.3);
    --shadow: #CCA43B;
    --zebra: #2D333B;
    --zebrafont: #D9C590;
}

h1 {
    text-align: center;
}

table {
    margin: 0px auto;
    box-shadow: 0 0 10px var(--shadow);
    border-collapse: collapse;
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: var(--back);
    font-size: 0.85rem;
}

tr:first-child th {
    background-color: var(--back2);
    color: var(--forelight);
}


th,
td {
    padding: 7px 15px;
    border: 1px solid var(--borderlight);
}

th {
    background-color: var(--back);
    color: var(--forelight);
    font-size: larger;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: var(--zebra);
    color: var(--zebrafont);
}

#rentals{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    margin: 20px;

    align-items: center;
}

#rentals p {
    text-align: justify;
    margin: 0px auto;
    margin-left: 7%;
}

#rentals h1 {
    grid-column: 1/3;
}

/* Contact Us */
#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 30px;
    justify-items: center;
}
#contact-intro{
    grid-column: 1/3;
    max-width: 1000px;

}
#contact p {
    text-align: justify;
}
/*----------- FORM --------------*/
form {
    margin: 2rem auto;
    max-width: 600px;
    background-color: #DFD5BB;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 3%;
}

form fieldset{
    margin: 2rem 0;
    border: 2px solid #242F40;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend{
    color: #242F40;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: #242F40;
    font-size: 1rem;
}

form label.top input, form label.top select{
    display: block;
    font-size: 1rem;
    border:solid 1px #000;
    border-radius: 4px;
    padding: .75rem;
    color: #666;
    max-width: 20rem;
    background-color: rgb(0,0,0,0.1);
}

form input.submitBtn{
    display: block;
    background-color: #242F40;
    color: #CCA43B;
    font-size: 1.25rem;
    border-radius: 1rem;
    padding: 10px 20px;
    width: 100%;
    max-width: 215px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: .02em;
    border: none;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px
}

form label.top textarea{
    font-size: 1rem;
    width: 98%;
    height: 60px;
}



/* -----------reservations---------*/
.rental-type ul, #rental-services ul {
    padding: 15px;
}

#reservation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 100px;
    justify-items: center;
    align-items: center;
    
}
#reservation h1{
    grid-column: 1/3;
}
.reservation-info{
    margin: 50px;
    padding-right: 500p;
    display: grid;
    gap: 20px;
    justify-content: center;
}
.top div{
    display: flex;
}
#reservation-fieldset{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#second-column{
    display: grid;
    gap: 6px
}
#comment{
    display: block;
    padding-top: 1rem;
    color: #242F40;
    font-size: 1rem;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 1fr 3fr;
}
#reservation-form textarea{
    font-size: 1rem;
    height: 60px;
}

@media screen and (max-width: 1200px) {
    #summary {
        grid-template-columns: 1fr;
        margin: 0px;
    }
    #serv-weath-container {
        grid-template-columns: 1fr;
    }
    #weather-container h3 {
        margin-bottom: 50px;
        margin-top: 70px;
    }
    h1{
        margin-top: 100px;
    }
    #rentals{
        grid-template-columns: 1fr;
    }
    #rentals h1 {
        grid-column: 1/2;
    }
    table {
    font-size: 15px;
    }
    #rentals p {
        margin-left: 0%;
    }
    #contact {
        grid-template-columns:1fr;
    }
    #contact-intro{
        grid-column: 1/2;
    }
    .map-container iframe{
        width: 450px ;
    }
    #reservation {
        display: block;
    }

}
@media screen and (max-width: 650px) {
    table {
        font-size: 7px;
    }
    main{
        font-size: 15px;
    }
    .map-container iframe{
        width: 300px ;
        height: 450px;
    }
    #reservation-fieldset{
        display: block;
    }
    #reservation-form{
        width: 70%;
    }
    form label.top, form div, form label.top input, form label.top select, #reservation-form textarea  {
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 400px) {
    main{
        font-size: 10px;
    }
    #summary h4{
        text-align: left;
    }
    table {
        font-size: 3px;
    }
    .map-container iframe{
        width: 240px ;
        height: 350px;
    }
    form label.top, form div, form label.top input, form label.top select, #reservation-form textarea, #comment  {
        font-size: 0.7rem;
    }
    #reservation-form textarea{
        max-width: 208px;
    }
    
}
