
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif&family=Rubik:wght@300;400;500&family=Source+Code+Pro:ital@1&display=swap');
/*Colors: #363636, #2D333B, #242F40, #786A3E, #CCA43B, #D9C590, #E5E5E5, #FFFFFF*/

body {
    /*font-family: 'PT Serif', serif;*/
    font-family: 'Source Code Pro', sans-serif;
    font-size: 20px;
    color: #CCA43B;
    background-color: #242F40;
}

h2, h3{
    font-family:'Bebas Neue', serif;
    font-size: 50px; 
    text-align: center;
}
h1{
    font-family:'Bebas Neue', serif;
    text-align: center;
    font-size: 70px;
}
h4{
    font-size: 30px;
}
.logo {
    height: 115px;
}
header {
    text-align: left;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    justify-items: center;
    background-color: #363636;
}
nav ul {
    display: grid;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    background-color: #363636;
    align-items: center;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    gap: 125px;
}

nav li {
    display: inline;
}

nav li a {
    display: block;
    color: #CCA43B;
    padding: 5px;
    text-align: center;
    text-decoration: none;

}
.active::before {
    content: "🛵";
}
#menu{
    display: none;
}

.navigation li a:hover {
    box-shadow: 0 0 5px #D9C590, 0 0 25px #D9C590, 0 0 50px #D9C590, 0 0 200px #D9C590;
    background-color: #D9C590;
    color: #242F40;
    transition: .5s;
    font-weight: 700;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #363636;
    color: #CCA43B;
    
}
#social-media-footer{
    width: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.footer-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.footer-base{
    display: flex;
    justify-content: center;
}
footer p {
    margin-right: 25px;
    margin-left: 25px;
}
.footer-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.smf-logo{
    width: 30%;
}

@media screen and (max-width: 1200px) {

    header {
        text-align: center;
        min-width: 245px;
        padding: 20px;
        display: block;
        align-items: center;
        justify-items: center;
    }

    nav ul {
        max-width: 1000px;
        min-width: 245px;
        justify-content: center;
        list-style-type: none;
        display: block;
        padding: 5px;
        background-color: #363636;
        color: #CCA43B;
        text-decoration: none;
        align-items: center;
        margin: 0 auto;
    
    }
    
    nav li {
        margin-bottom: 20px; 
        display: block;
    }
    
    nav li a {
        display: block;
        color: #CCA43B;
        padding: 5px;
        text-align: center;
        text-decoration: none;
    }
    #menu {
        display: block;
        font-size: 3rem;
        padding: 3px 7px 6px;
        border: 0px;
        background-color: #363636;
        color: #CCA43B;
        position: absolute;
        top: 10px; 
        right: 10px; 
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "✖";
    }
    .navigation {
        flex-direction: column;
        list-style: none;
        background-color: #363636;
        color: #CCA43B;
    }
    .navigation li {
        display: none;
    }
    .navigation li a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #FFB703;
    }
    /* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
    .open li {
        display: block;
        width: 100%;
    }
    .open li a {
        display: block;
    }
    footer{
        min-width: 245px;
    }

    footer p {
        font-size: 15px;
    }

    .footer-columns {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;

    }
    
    .footer-base{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 10px;
    }
    footer p {
        margin-right: 0px;
        margin-left: 0px;
    }
    #social-media-footer{
        width: 100%;

    }
    .smf-logo{
        width: 20%;
    }
    h1{
        font-size: 50px;
    }
    h2, h3{
        font-size: 40px;
    }
    h4{
        font-size: 23px;
    }
}   
@media screen and (max-width: 400px) {
    h1{
        font-size: 40px;
    }

} 